# Ignore everything by default
*

# Whitelist only the library and the test/benchmark devices
!.gitignore
!README.md
!Content/
Content/*
!Content/BetterVerse/
!Content/BetterVerse/**
!Content/MathUnitTest.verse
!Content/BenchmarkComplete.verse
